{% extends "emission_calculator/layout.html" %}
{% load static %}

{% block head %}
  <link href="{% static 'emission_calculator/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <section id="account_page">
    <h1 class="center logout"><a href="{% url 'calculator:logout' %}" >Click me to logout!</a></h1>
    <h1 class="logout">Hello {{ user }}!</h1>
    <h2 class="logout">By logging in, you are allowing us to record your account to your scores for statistical purposes.</h2>
  </section>
{% endblock %}
