{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">   <!-- defines the characters to be used in webpage -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">    
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta name="description" content="Team Blog">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,Python">
        <meta name="author" content="Finn de Lange">
        {% block head %}
        {% endblock %}
        <title>Emitls</title>
    </head>
    <body>
        <header>
            <h1><a href="{% url 'calculator:home' %}" id="branding">EMITLS</a></h1>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <ul>
                    <li><a href="{% url 'calculator:home' %}">Home</a></li>
                    <li><a href="{% url 'calculator:home' %}">About</a></li>
                    <li><a href="{% url 'calculator:home' %}">Calculate</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'calculator:my_account' %}">My account</a></li>
                    {% else %}
                    <li><a href="{% url 'calculator:register' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>
        
        {% block body %}
        {% endblock %}
    </body>
</html>