{% extends "emission_calculator/layout.html" %}
{% load static %}

{% block head %}
  <link href="{% static 'emission_calculator/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% load crispy_forms_tags %} 
  <div class="login_page" id="login">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      {{ login_form|crispy }}
      <button type="submit">Login</button>
    </form>
    <br>
    <p>Don't have an account? <a href="{% url 'calculator:register' %}">Create an account</a>.</p>
  </div>
{% endblock %}