{% extends "emission_calculator/layout.html" %}
{% load static %}

{% block head %}
  <link href="{% static 'emission_calculator/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<figure>
  <img src="{% static '../static/img/solar.jpg' %}" id="electric_car_small">
</figure>
<article>
<h2>Electricity providers</h2>
<p>Whilst most of the electricity providers in New Zealand generate from renewable sources, some still burn coal, which adds to your carbon footprint.
The good news is: Because so many providers generate from renewables such as hydroelectric and geothermal,
you can switch really easily and maybe save some money in the process.</p>
<p>As much as 82% of the electricity in NZ is generate from geothermal and hydroelectric electricity, with the remainder most being coal.
Do you know where your electricity comes from?</p>
</article>
{% endblock %}