{% extends "emission_calculator/layout.html" %}
{% load static %}

{% block head %}
  <link href="{% static 'emission_calculator/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<figure>
  <img src="{% static '../static/img/bin.jpg' %}" id="electric_car_small">
</figure>
<article>
  <h2>Reducing, Reusing, Recycling</h2>
  <p>One of the best ones to decrease your emissions for little time, effort and money is to try to reduce waste.
  To do this, remeber to use your rycling and seperate properly, buy reusable products instead of single use and
  try to avoid buying more than you need (as it leads to waste).
  </p>
</article>
{% endblock %}