:root{
	--greenbackground:#228B22;
	--mainbackground:#eaeaea;
}

body{
    margin:0;
    background:var(--mainbackground);
    font-family: 'Work Sans', sans-serif;
    font-weight:400;
}



header{
	text-align:center;
	position:fixed;
  z-index: 999;
	width:100%;
	background-image: linear-gradient(to bottom, rgba(21, 2, 107, 1), rgba(21, 2, 107, 0));
	height: 8ex;
}

.logo{
	margin:0px;
}

nav{
	position: absolute;
	text-align:left;
	top:100%;
	left:0;
	width: 100%;
	transform: scale(1, 0);
	transform-origin:top;
	transition: transform 300ms ease-in-out;
	
}

.nav-toggle{
	display:none;
}

.nav-toggle-label{
	position:absolute;
	top:0;
	left:0;
	margin-left:1em;
	height:100%;
	display:flex;
	align-items:center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
	display: block;
	background:white;
	height:3px;
	width:2em;
	border-radius: 10px;
	position:relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
	content: '';
	position:absolute;
}

.nav-toggle-label span::before{
	bottom: 8px;
}

.nav-toggle-label span::after{
	top:8px;
}

nav ul{
	margin:0;
	padding:0;
	list-style: none;
}

nav li{
	margin-bottom:1em;
	margin-left:1em
}

nav a{
	color: white;
	text-decoration: none;
	font-size:1.2rem;
	text-transform: uppercase;
	opacity:0;
	transition: opacity 150ms ease-in-out;
}

nav a:hover{
	color:#c4c4c4;
}

.nav-toggle:checked ~ nav{
	transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
	opacity:1;
	transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width:1150px) {
	.nav-toggle-label{
		display:none;
	}
	header{
		display:grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}
	
	.logo{
		grid-column: 2 / span 1;
	}
	
	nav{
		all: unset;
		grid-column:3/span 1;
		display:flex;
		justify-content: flex-end;
		align-items: center;
	}
	nav ul{
		display:flex;		
	}
	nav li{
		margin-left:3em;
		margin-bottom:0;
	}
	nav a{
		opacity: 1;
		position:relative;
	}
	nav a::before{
		content: '';
		display:block;
		height: 5px;
		background:#c4c4c4;
		position:absolute;
		top:-.75em;
		left:0;
		right:0;
		transform:scale(0,1);
		transition: transform ease-in-out 250ms;
	}
	nav a:hover::before{
		transform: scale(1,1);
	}
}

/* Styling for the image and header of the about.php page */
.about1 {
	margin: auto;
	width: 50%;
	border: 3px #76cbed;
	padding: 5px;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
}

/* Styling for the wiki div class under the about.php page */
.wiki {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	padding: 70px 0;
	text-justify: inner-word;
}

/* Centers elements to the middle of page */
.center {
	margin: auto;
	width: 90%;
	padding: 10px;
	text-align: center;
}

/* Stops the paragraphs from looking like shit */
p {
	font-family: 'Work sans', sans-serif;
	font-weight: bold;
	text-align: center;
}

#underline {
	text-align: center;
	text-decoration: underline;
}

#box {
	border-style: solid;
}

#final {
	font-weight: bold;
}

ul {
	text-align: center;
	font-family: 'Work sans', sans-serif;
	font-style: italic;
}

#uploadpos {
	margin: auto;
	width: 60%;
	padding: 150px;
}

#scorepos {
	margin: auto;
	width: 60%;
	padding: 100px;
	border: 5px solid #000;
	width:fit-content;
	transform: translate(0, 30%);
}

body {
	background-image: url("../img/hills.jpg");
}

#branding {
	color: #FFF;
	font-family: 'Work Sans', sans-serif;
	font-style: italic;
}